<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stran ni najdena</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/Database/images/persona-logo1.png" />
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa;
        }
        .animation-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="animation-container">
        <h1>Ups! Stran ni bila najdena.</h1>
        <iframe src="https://lottie.host/embed/ae1259dd-9d6a-41ce-ac6c-b40d37d0d807/6FlGGuIXdG.json" frameborder="0" width="400" height="400" style="pointer-events: none;"></iframe>
        <p>Stran, ki jo iščete, je bila morda odstranjena, preimenovana ali je začasno nedostopna.</p>
    </div>
</body>
</html>
