<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dodaj Uporabnika</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Material Icons -->
  <link rel="stylesheet" href="/zgodovinaUjemanja.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Dodaj Uporabnika</h1>
    <form action="/ujemanje/dodajUporabnika" method="post">
      <div class="form-group">
        <label for="name">Ime:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <input type="hidden" name="category" value="<%= category %>">
      <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
