<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/prijava.css">
    <link rel="shortcut icon" type="image/x-icon" href="/Database/images/persona-logo1.png" />
    <style>
        /* Add styles for the green links */
        #form_toggle_links a {
            color: orange;
            text-decoration: underline;
            margin-right: 10px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div id="content_container">
        <div id="centered">
            <div id="animation_container"></div>
            <div id="form_container">
                
                <div id="form_content_container">
                    <div id="form_content_inner_container">
                        <!--Login form-->
                        <div id="form-content-prijava" class="form-container">
                            <div id="form_header_container">
                                <h2 id="form_header"> Prijava </h2>
                            </div>
                            <input type="email" id="login-email" placeholder="Email">
                            <div class="validation-message" id="email-validation"></div>
                            <input type="password" id="login-password" placeholder="Geslo">
                            <div class="validation-message" id="password-validation"></div>
                            <div id="button_container">
                                <button onclick="login()">Prijava</button>
                            </div>
                        </div>
                        <!--Registration form-->
                        <div id="form-content-registracija" class="form-container" style="display: none;">
                            <div id="form_header_container">
                                <h2 id="form_header"> Registracija</h2>
                            </div>
                            <input type="text" id="register-username" placeholder="Uporabniško Ime">
                            <div class="validation-message" id="username-validation"></div>
                            <input type="email" id="register-email" placeholder="Email">
                            <div class="validation-message" id="email-validation"></div>
                            <input type="password" id="register-password" placeholder="Geslo">
                            <div class="validation-message" id="password-validation"></div>
                            <div id="button_container">
                                <button onclick="register()">Registracija</button>
                            </div>
                        </div>
                        <div id="form_toggle_links">
                            <!-- Change the links to be more user-friendly and green -->
                            <a href="#" id="show_register">Še nimate računa? Registrirajte se tukaj.</a>
                            <a href="#" id="show_login" style="display: none;">Imate že račun? Prijavite se tukaj.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading_container" style="display: none;">
        <div id="loading_animation_container"></div>
    </div>
    <div id="success_popup">
        <div id="success_animation_container"></div>
        <div id="success_message"></div>
    </div>
    <div id="error_popup" style="display: none;">
        <div id="error_animation_container"></div>
        <div id="error_message"></div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <!-- Our script must be loaded after firebase references -->
    <script src="/prijava.js"></script>
</body>
</html>
