<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
    <link rel="stylesheet" href="/samoocenitev.css">
</head>
<body class="body-slide-in">

    <div id="overlay" class="hidden">
        <div class="overlay-content">
            <div class="close-btn" onclick="closeOverlay()">
                <i class="material-icons">close</i>
            </div>
            <h3>Persona </h3><br>
            <h5>Različica 2.0</h5><br>
            <p>S pomočjo asociacij se ocenite in preverite vašo združljivost z bližnjimi.
                
                Samoocenjevanje poteka zelo preprosto: med ponujenimi pari slik v vsakem koraku izberite tisto, s katero se najbolj poistovetite. Izbiro izvedete s preprostim pritiskom na sliko. Na koncu vas bo aplikacija na podlagi podanih asociacij ocenila in vam naštevala vaše pozitivne in negativne plati.
                
                Ocenitev druge osebe poteka podobno kot samoocenitev, le da tokrat izbirate slike, ki najbolj opisujejo drugo osebo. Na koncu vam bo aplikacija predstavila analizo in združljivost med vami in osebo, ki ste jo ocenjevali.</p>
        </div>
    </div>

    <header class="bg-transparent py-3">
        <div class="container text-center">
            <img class="logo" src="/Database/images/persona-logo1.png" alt="PersonaAnimal Logo">
        </div>
    </header>
    <br>
    <div class="mobile-space"></div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <h5  class="text col-12 mb-3" style="color: white; text-align: center;">IZBERITE KATEGORIJO ZA SAMOOCENITEV</h5>
            <% categories.forEach(function(category) { %>
                <div class="col-12 mb-3">
                    <button class="btn btn-primary w-100" onclick="clearStorageAndNavigate('<%= category %>')">
                        <%= category %>
                    </button>
                </div>
            <% }); %>
                
            <div class="col-12 mb-3">
            </div>
        </div>
    </div>

    <div class="button-container">
        <i class="material-icons info-icon" onclick="openOverlay()">info</i>
        <i class="material-icons logout-icon" onclick="Logout()">logout</i>
    </div>

    <footer>
        <div class="row">
            <div class="col footer-col-1" onclick="navigateTo('/samoocenitev');">Samoocenitev</div>
            <div class="col footer-col-2" onclick="navigateTo('/ujemanje');">Ujemanje</div>
        </div>
    </footer>

    <div id="success_popup">
        <div id="success_animation_container"></div>
        <div id="success_message"></div>
    </div>

    <div id="bee_container">
        <div id="bee_animation_container"></div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/samoocenitev.js"></script>
</body>
</html>
