<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persona Animal</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"></script>
    <link rel="stylesheet" href="/samoocenitev.css">
</head>
<body class="body-slide-in">
    <header class="bg-transparent py-3">
        <div class="container text-center">
            <img class="logo" src="/Database/images/PALogo.png" alt="PersonaAnimal Logo">
        </div>
    </header>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <% categories.forEach(function(category) { %>
                <div class="col-12 mb-3">
                    <button class="btn btn-primary w-100" onclick="clearStorageAndNavigate('<%= category %>')">
                        <%= category %>
                    </button>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="button-container">
        <button class="btn btn-primary logout" onclick="Logout()">Logout</button>
    </div>

    <footer>
        <div class="row">
            <div class="col footer-col-1" onclick="navigateTo('/samoocenitev');">Samoocenitev</div>
            <div class="col footer-col-2" onclick="navigateTo('/ujemanje');">Ujemanje</div>
        </div>
    </footer>

    <div id="success_popup">
        <div id="success_animation_container"></div>
        <div id="success_message"></div>
    </div>

    <div id="bee_container">
        <div id="bee_animation_container"></div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/samoocenitev.js"></script>
</body>
</html>
