@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    width: 100%;
    height: 100vh; /* Ensure it covers the full viewport height */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent horizontal scrollbar */
    display: flex;
    flex-direction: column;
    position: relative; /* Ensure absolute positioning of children is relative to the body */
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.8);
    background-image: url('/Database/images/background_main.png'); /* Set the background image for the whole page */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    animation: slideInFromRight 0.8s forwards; /* Slide in from right to left */
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%); /* Start off-screen from the right */
    }
    to {
        transform: translateX(0); /* Slide to the natural position */
    }
}

.main-content {
    flex: 1 0 auto; /* Flex properties to fill available space */
    overflow-y: auto; /* Scroll inside main content if needed */
    width: 100%; /* Full width */
    display: flex; /* Using flex to control inner items */
    flex-direction: column; /* Stack children vertically */
    padding-bottom: 100px; /* Adjust this value to the height of your footer */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden; /* Hide any accidental horizontal overflow */
    margin-top: 5%
}

.progress-bar-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: #f3f3f3;
}

.entities-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px; /* Space between cards */
}

.entity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entity {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.entity img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: opacity 0.3s, transform 0.3s;
}

.entity img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.entity-name {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.entity:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.arrow-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 15%;
}

.arrow {
    width: 48px;
    height: 48px;
    transition: width 0.3s, height 0.3s;
}

@media (max-width: 576px) {
    .progress-bar-container {
        width: 70%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .entity-wrapper {
        flex: 1;
        margin: 0 5px;
    }

    .entity {
        width: 120px; /* Adjust the width for mobile */
        height: 120px; /* Adjust the height for mobile */
    }

    .entity img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    .entity-name {
        font-size: 18px; /* Adjust font size for mobile */
        text-align: center;
    }

    .arrow-wrapper {
        margin-top: 15%; /* Reduce margin-top for mobile */
    }

    .arrow {
        width: 36px; /* Adjust arrow size for mobile */
        height: 36px;
    }

    .container {
        align-items: center; /* Center everything */
        margin-top: 20%
    }

    .entities-container {
        flex-wrap: nowrap; /* Ensure entities remain in a row */
        gap: 10px; /* Reduce the gap between entities */
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

#entity1, #entity2 {
    background: rgba(255, 255, 255, 0.8);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.progress {
    position: relative;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #4CAF50, #81C784);
    width: 0;
    transition: width 0.5s ease;
    border: 2px solid white;

}

#loading {
    display: none;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 200px; /* Adjust width to fit the iframe */
    height: 200px; /* Adjust height to fit the iframe */
}
#loading iframe {
    display: block;
    margin: 0 auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;  /* Ensures no scrollbar appears within the overlay */
}

.overlay-content {
    position: relative;  /* This makes it the positioning context for absolute elements inside it */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;  /* Responsive width */
    max-width: 400px;  /* Maximum width to maintain aesthetics */
    max-height: 50%;   /* Maximum height */
    overflow-y: auto;  /* Scroll if content overflows */
}

.close-btn {
    position: absolute; /* Absolute positioning relative to the nearest positioned ancestor */
    top: 10px;  /* 10px from the top of the .overlay-content */
    right: 10px;  /* 10px from the right of the .overlay-content */
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

@keyframes slideOutTopToBottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

/* Apply animation to overlay when the class is added */
#overlay.slide-out {
    animation: slideOutTopToBottom 0.5s forwards;
}
