/* samoocenitev.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('/Database/images/pozadina.png'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow-x: hidden; 
}

.body-slide-in {
    position: relative;
    animation: slideInFromLeft 0.8s forwards;  
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.mobile-space {
    display: none;
}

/* Show the space div on small screens */
@media (max-width: 576px) {
    .mobile-space {
        display: block;
        height: 2rem; /* Adjust the height as needed */
    }
    .info-icon, .logout-icon {
        font-size: 25px;
        cursor: pointer;
        color: white;
        margin-left: 10px;
    }
}

header {
    padding: 10px 20px;
    text-align: center;
    background: transparent; 
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.text {
    font-weight: bold;
    text-shadow: 2px 2px 4px orange; 
}

button.btn {
    margin: 10px;
    padding: 15px 25px;
    background: linear-gradient(to right, orange, rgb(249, 195, 93));
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button.btn:hover {
    background: linear-gradient(to right,orange, rgb(249, 195, 93)) !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-2px) !important;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon, .logout-icon {
    font-size: 35px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

button.logout, button.about {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    flex: 1 0 auto;
    padding: 15px; /* Add padding to the container */
}

h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: #666;
}

header .logo {
    height: auto; 
    max-width: 40%;  
}

@media (max-width: 767.98px) {
    header .logo {
        width: 100%;
    }
    .info-icon, .logout-icon {
        font-size: 25px;
        cursor: pointer;
        color: white;
        margin-left: 10px;
    }
}

footer {
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right, orange, rgb(249, 195, 93)); 
    color: white;
    padding: 20px 0; 
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

footer .col {
    cursor: pointer;
    padding: 15px 0; 
    border-right: 1px solid rgb(249, 195, 93);
    transition: all 0.3s ease; 
}

footer .col:last-child {
    border-right: none;
}

footer .col:hover {
    background: orange; 
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2); 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 767.98px) {
    footer .col {
        border-right: none;
        border-bottom: 1px solid rgb(249, 195, 93);
    }

    footer .col:last-child {
        border-bottom: none;
    }
}

#success_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px; 
    background: white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

#success_animation_container {
    width: 200px; 
    height: 200px;
}

#success_message {
    margin-top: 20px;
    font-size: 18px;
    color: orange;
}

#bee_container {
    position: fixed;
    top: 60%;
    left: -10%;
    transform: translateY(-50%);
    z-index: 9999; 
}

#bee_animation_container {
    width: 150px; 
    height: 150px; 
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 1050;
    overflow-y: auto;
    padding: 20px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
    overflow-y: auto;
    transform: translateY(100%); 
    transition: transform 0.5s ease;
}


.overlay-content.show {
    transform: translateY(0); 
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(249, 195, 93); 
}
