/* samoocenitev.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    padding: 10px 20px;
    text-align: center;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.category-container button {
    margin: 10px;
    padding: 10px 20px;
    background: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    flex: 1 0 auto;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: #666;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333; /* Dark background color */
    color: white; /* White text color */
    padding: 10px 0;
    text-align: center;
}

footer .col {
    cursor: pointer;
    padding: 10px 0;
    border-right: 1px solid #555;
    text-align: center;
}

footer .col:last-child {
    border-right: none;
}

footer .col:hover {
    background: #5d5d5d;
}

@media (max-width: 767.98px) {
    footer .col {
        border-right: none;
        border-bottom: 1px solid #555;
    }

    footer .col:last-child {
        border-bottom: none;
    }
}

header .logo {
    height: 100%; /* Adjust the height as needed */
    width: 20%;  /* Keeps the aspect ratio */
}

@media (max-width: 767.98px) {
    header .logo {
        height: 100%; /* Adjust the height as needed */
        width: 100%; /* Smaller size for mobile */
    }
}