/* samoocenitev.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url('/Database/images/background_main.png'); 
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow-x: hidden; 
}

.body-slide-in {
    position: relative;
    animation: slideInFromLeft 0.8s forwards;  
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

header {
    padding: 10px 20px;
    text-align: center;
    background: transparent; 
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

button.btn {
    margin: 10px;
    padding: 15px 25px;
    background: linear-gradient(to right, #4CAF50, #81C784);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

button.btn:hover {
    background: linear-gradient(to right, #388E3C, #66BB6A) !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-2px) !important;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

button.logout {
    text-align: center;
}



.container {
    flex: 1 0 auto;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    color: #333;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: #666;
}

header .logo {
    height: auto; 
    max-width: 20%;  
}

@media (max-width: 767.98px) {
    header .logo {
        width: 100%;
    }
}

footer {
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #4CAF50, #81C784); 
    color: white;
    padding: 20px 0; 
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
}

footer .col {
    cursor: pointer;
    padding: 15px 0; 
    border-right: 1px solid #66BB6A;
    transition: all 0.3s ease; 
}

footer .col:last-child {
    border-right: none;
}

footer .col:hover {
    background: #388E3C; 
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2); 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 767.98px) {
    footer .col {
        border-right: none;
        border-bottom: 1px solid #66BB6A;
    }

    footer .col:last-child {
        border-bottom: none;
    }
}

#success_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px; 
    background: white;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

#success_animation_container {
    width: 200px; 
    height: 200px;
}

#success_message {
    margin-top: 20px;
    font-size: 18px;
    color: #4CAF50;
}

#bee_container {
    position: fixed;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    z-index: 9999; 
}

#bee_animation_container {
    width: 150px; 
    height: 150px; 
}
